@CHARSET "UTF-8";

.icon {
	fill : steelblue;
	stroke : black;
	stroke-width : 1;
}

.icon_selected {
	fill : transparent;
	stroke : steelblue;
}


.pin {
	stroke :#778899 ;
	fill : #B0C4DE;
	stroke-width :5;
	
}

.pintext {
	fill : black;
	text-anchor : middle;
	font-size : 16px;
	font-family : sans-serif;
}

#nametag {
	position : absolute;
	top : 10px;
	left : 60%;
	background : gray;
	width : 100px;
	height : 30px;
	border : 2px solid black;
	border-radius : 10px;
	opacity : 0;
}
